
* {
  box-sizing: border-box;
}




.app {
  display: flex;
  flex-direction: column;
  /* Добавьте остальные стили для .app по вашему усмотрению */
}
.app .header {
  top: 0!important;
  margin: 0;
}

.main-content {
  display: flex;
  gap: 10px; /* Добавляет промежуток между компонентами */
  align-items: flex-start; /* Выравнивание по верхнему краю */
}

/* Стили для Sidebar */
.sidebar {
  /* Добавьте необходимые стили для вашего Sidebar */
}

/* Стили для ProductList */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  flex: 1; /* Растягиваем карточки на всю доступную ширину */

  /* Добавьте необходимые стили для вашего ProductList */
}
a {
  text-decoration: none;
  color: black;
}

a .auth-buttons button {
  margin-right: 10px;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  background-color: #3498db; /* Цвет фона кнопок */
  color: #fff; /* Белый цвет текста */
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease; /* Добавим анимацию при наведении */
}

.auth-buttons button:hover {
  background-color: #2980b9; /* Изменяем цвет кнопки при наведении */
}


span {
  background: none!important;
  border: none!important;
}


@media only screen and (max-width: 768px) {


.header {
  width: 100%;
  flex-direction: column;
  text-align: center;
  margin-top: 0!important;
  padding: 0;
  top: 0!important;
}

}