/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/



.app {
  display: flex;
  flex-direction: column;
  /* Добавьте остальные стили для .app по вашему усмотрению */
}

.main-content {
  display: flex;
  gap: 10px; /* Добавляет промежуток между компонентами */
  align-items: flex-start; /* Выравнивание по верхнему краю */
}

/* Стили для Sidebar */
.sidebar {
  /* Добавьте необходимые стили для вашего Sidebar */
}

/* Стили для ProductList */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  flex: 1; /* Растягиваем карточки на всю доступную ширину */

  /* Добавьте необходимые стили для вашего ProductList */
}
a {
  text-decoration: none;
  color: black;
}

a .auth-buttons button {
  margin-right: 10px;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  background-color: #3498db; /* Цвет фона кнопок */
  color: #fff; /* Белый цвет текста */
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease; /* Добавим анимацию при наведении */
}

.auth-buttons button:hover {
  background-color: #2980b9; /* Изменяем цвет кнопки при наведении */
}