
/* src/components/AdminPanel/AdminPanel.css */
.admin-panel {
    margin-top: 95px;
    padding: 20px 15%;
    width: 100%;
    margin-bottom: 120px;
}

.admin-panel-button-close {
    display: inline-flex;
    margin-left: 94%;
    margin-bottom: 11px!important;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.admin-product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
    gap: 10px;
}

.customerOrders {
    display: flex;
    margin-bottom: 8px;
}

.customerOrdersBtnOne {
    border-radius: 5px 0 0 5px;
    border: 1px solid #969694;
    font-weight: bold;
    font-size: 17px;
}

.customerOrdersBtnOne:hover {
    box-shadow: 1px 3px 3px #5b5b5b;

}

.customerOrdersBtnTwo {
    border: 1px solid #969694;
    font-weight: bold;
    font-size: 17px;

}


.customerOrdersBtnTwo:hover {
    box-shadow: 1px 3px 3px #5b5b5b;
}


.customerOrdersBtnThree {
    font-weight: bold;
    border: 1px solid #969694;
    font-size: 17px;

}


.customerOrdersBtnThree:hover {
    box-shadow: 1px 3px 3px #5b5b5b;
}



.customerOrdersBtnFour {
    border-radius: 0 5px 5px 0;
    font-weight: bold;
    border: 1px solid #969694;
    font-size: 17px;

}


.customerOrdersBtnFour:hover {
    box-shadow: 1px 3px 3px #5b5b5b;
}


.admin-product-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.admin-product-item span {
    flex-grow: 1;
    font-weight: bold;
    font-size: 12px;
}

.admin-btn {
    padding: 7px 10px;
    background-color: #f0f0f0;
    max-width: 88px;
    height: 30px;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 22px;
    margin-bottom: 3px;
    margin-top: 0;
}

.admin-btn:hover {
    font-size: 25px;
    background-color: #f0f0f0;
    color: #007bff;
}

.selectBtn {
    background: #007bff;
}

.deleteYN {
    display: inline-flex;
    text-align: center;

    margin-left: 47%;
}
.deleteY {
    margin-right: 25px;
}

@media screen and (max-width: 768px) {
    .admin-panel {
        width: 100%;
        margin-top: 22px;
        padding: 7px;
    }

    .customerOrdersBtnOne {
        font-size: 12px;
        padding: 3px;
    }

    .customerOrdersBtnTwo {
        font-size: 12px;
        padding: 3px;
    }

    .customerOrdersBtnThree {
        padding: 3px;
        font-size: 12px;
    }

    .customerOrdersBtnFour {
        padding: 3px;
        font-size: 12px;
    }

}