
/* src/components/AdminPanel/AdminPanel.css */
.admin-panel {
    margin-top: 100px;
    padding: 20px;
    width: 90%;
    margin-bottom: 140px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.admin-product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
    gap: 10px;
}

.customerOrders {
    display: flex;
    margin-bottom: 8px;
}

.customerOrdersBtnOne {
    background: #3c32d9;
    border: 2px solid #c6e739;
    border-radius: 5px 0 0 5px;
    box-shadow: 4px 6px 6px dimgray;
    font-weight: bold;
    font-size: 17px;
}

.customerOrdersBtnOne:hover {
    background: #447ab5;
    border: 2px solid #2ae509;
    box-shadow: 1px 3px 3px #5b5b5b;

}

.customerOrdersBtnTwo {
    background: #3c32d9;
    border: 2px solid #c6e739;
    border-radius: 0 5px 5px 0;
    box-shadow: 4px 6px 6px dimgray;
    font-weight: bold;
    font-size: 17px;

}


.customerOrdersBtnTwo:hover {
    background: #447ab5;
    border: 2px solid #2ae509;
    box-shadow: 1px 3px 3px #5b5b5b;
}


.customerOrdersBtnThree {
    background: #3c32d9;
    border: 2px solid #c6e739;
    border-radius: 0 5px 5px 0;
    box-shadow: 4px 6px 6px dimgray;
    font-weight: bold;
    font-size: 17px;

}


.customerOrdersBtnThree:hover {
    background: #447ab5;
    border: 2px solid #2ae509;
    box-shadow: 1px 3px 3px #5b5b5b;
}


.admin-product-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.admin-product-item span {
    flex-grow: 1;
    /*margin-right: 10px;*/
    font-weight: bold;
    font-size: 12px;
}

.admin-btn {
    /*box-sizing: border-box;*/
    padding: 7px 10px;
    background-color: #f0f0f0;
    max-width: 88px;
    height: 30px;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 22px;
    margin-bottom: 3px;
    margin-top: 0;
}

.admin-btn:hover {
    font-size: 25px;
    background-color: #f0f0f0;
    color: #007bff;
}

.selectBtn {
    background: #007bff;
}

.newProduct {
    background: #3c32d9;
    font-weight: bold;
    font-size: 20px;
    padding: 1px;
    box-shadow: 4px 6px 6px dimgray;
}


.newProduct:hover {
    background: #574eea;
    box-shadow: 2px 3px 3px grey;

}
.deleteYN {
    display: inline-flex;
    text-align: center;

    margin-left: 47%;
}
.deleteY {
    margin-right: 25px;
}

@media screen and (max-width: 768px) {
.admin-panel {
    width: 100%;
    margin-top: 202px;
}

}