/* OrderList.css */


* {
    box-sizing: border-box;
}


.order {
    margin-top: 110px!important;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead th, tbody td {
    border: 1px solid #ddd;
    padding: 3px;
    text-align: left;
    font-size: 12px;
}

.orderDetailOneClient {
    cursor: pointer;
}

thead th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody td p {
    margin: 5px 0;
}

.pagination-order-admin {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    margin-top: 20px;
}

.pagination-order-admin span {
    margin-left: 11px;
    margin-right: 11px;
}

/* Add more styles as needed */

@media only screen and (max-width: 768px) {
    .order {
        margin-top: 0!important;
        padding: 2px 10px;
        padding-bottom: 111px!important;
    }

    .order h2  {
        margin-top: 20px;
        margin-bottom: 0!important;
    }


   .order span.sellersListClose {
       color: #007bff!important;
        margin-left: 88% !important;
        background: none!important;
       margin-top: 0!important;
    }

}