

* {
    box-sizing: border-box;
}



/* src/components/AdminPanel/ProductForm.css */
.sellerFormAdd {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    margin-top: 161px;
}

label {
    margin-top: 10px;
}

/*.sellersListClose {*/
/*    background: none!important;*/
/*}*/

.sellersListClose span {
    margin-top: -21px!important;
}

.seller-form-add-once {
    margin-top: -11px;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

/*button {*/
/*    background-color: #4caf50;*/
/*    color: white;*/
/*    padding: 10px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    margin-top: 10px;*/
/*}*/

/*button[type="button"] {*/
/*    background-color: #808080;*/
/*}*/

/*button:hover {*/
/*    background-color: #45a049;*/
/*}*/


.newProductAdd {
    background: #3c32d9;
    font-weight: bold;
    font-size: 20px;
    padding: 1px;
    box-shadow: 4px 6px 6px dimgray;
}


.newProductAdd:hover {
    background: #574eea;
    box-shadow: 2px 3px 3px grey;

}

.submitBtn {
    display: flex;
    margin-top: 7px;
}

.submit {
    background: limegreen;
    border-radius: 6px 0 0 6px;
    box-shadow: 4px 6px 6px dimgray;
    font-size: 20px;
}
.submit:hover {
    background: #389806;
    box-shadow: 2px 3px 3px grey;

}

.cancel {
    background: #c60331;
    border-radius: 0 6px 6px 0;
    box-shadow: 4px 6px 6px dimgray;
    font-size: 20px;
}

.cancel:hover {
    background: #880322;
    box-shadow: 2px 3px 3px grey;

}

.deleteField {
    background-color: #2bc3f1;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 17px;
    padding: 3px;
}



@media screen and (max-width: 768px) {

    .sellerFormAdd {
        display: flex;
        flex-direction: column;
        width: 88%;
        /*margin: 0 auto;*/
        margin-top: 0;
        padding-top: 0;
    }

    .sellersListClose  {
        /*position: absolute;*/
        width: 20%;
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 90% !important;
        text-align: center!important;
        align-items: center;
       background: none;
    }

    .seller-form-add-once {
        /*margin-top: 20px;*/
    }

    .submitBtn {
        margin-top: 20px;
    }

    .submit {
        background: limegreen;
        border-radius: 6px 0 0 6px;
        box-shadow: 4px 6px 6px dimgray;
        font-size: 17px;
        font-weight: bold;
        color: #1c1b1b;
    }


    .cancel {
        background: #c60331;
        border-radius: 0 6px 6px 0;
        box-shadow: 4px 6px 6px dimgray;
        font-size: 20px;
        font-weight: bold;
        color: #1c1b1b;
    }



}

/* Add more styles as needed */
