
.sellersListPage {
    margin-top: 9%;
}

.sellerTitle {

    margin: 0 auto;
    margin-bottom: -15px;
}

.sellersListClose {
    display: inline-flex;
    margin-left: 94%;
    color: #054462;
    margin-top: 0!important;
    margin-bottom: 5px;
    font-size: 22px;
    cursor: pointer;
}

.sellersListClose:hover {
    color: #0f77d2;
}

table {
    margin-top: -12px;
}

@media screen and (max-width: 768px) {

.sellersListPage {
    box-sizing: content-box!important;
    margin: 0 auto;

    margin-top: 44px;
}
    .sellersListClose {
        width: 100% !important;
        background: #c7c7c8 !important;
        margin: 0 auto;
        margin-top: 22px!important;
    }
    .sellersListClose span {
        margin-left: 48%;
    }

    table {
        margin-top: 30px!important;
    }

}