


/* Home.css */
.home-container {
    width: 100%;
    margin-top: 96px;
    /*padding: 20px;*/
    justify-content: center;
    align-items: center;
    padding: 25px;

}

.carousel {
    width: 100%;
    /*width: 1920px;*/
    height: 350px;
    margin: 0 auto;
    overflow: hidden; /* Скрываем все, что выходит за пределы карусели */
    position: relative;
    background: #f8efe5;
    border-radius: 20px;

}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%; /* Каждая слайд занимает всю ширину карусели */
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: transform 0.5s ease-in-out;
}

.text-container {
    text-align: left;
    position: absolute;
    align-items: flex-start;
    top: 85px;
    left: 180px;
}

.text-container h1 {
    cursor: text;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0.05em;
    margin: 0;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    margin: 10px 0;
    text-align: left;

}

.description {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 275;
    line-height: 24px;
    letter-spacing: 0.05em;
    margin: 0;
}

.slide-image {
    width: 462px;
    height: 98%;
    position: absolute;
    /*top: 216px;*/
    top: 6px;
    left: 705px;
    object-fit: contain;
}

.slide-button {
    width: 210px;
    /*width: 176px;*/
    height: auto;
    font-family: Poppins;
    /*font-size: 194px;*/
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.1em;
    /*text-align: left;*/
    background: rgb(252, 249, 249);
    text-align: center;
    color: black;
    gap: 3px;
    margin-top: 280px;
    margin-left: 180px;
    padding: 5px;
    border-radius: 13px;
    cursor: pointer;
}

.slide-button:hover {
    background: #9b9b9b;
}


.info-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
    left: 0;


}

/*.info-block span {*/
/*    display: block;*/
/*    margin-top: 0!important;*/

/*}*/

.info-block {
    display: block;
    width: 33%;
    height: 200px;
    margin: 10px 0;
    background-color: #f6f6f3;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;

}


.info-all {
    width: 49%;

}
.one-all {
    margin-right: 10px;
}

.two-all {
    margin-left: 10px;
}


.info-block-img {
    width: 100%;
    height: 160px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: contain;
    padding: 0;
}

.home-page-footer {
    display: flex;
    width: 100%;
    height: 111px;
    background: #dddddd;
    text-align: center;
    align-items: center;
    justify-content: center;
    left: 0;
   position: absolute;
}

.contact-info {
    text-align: center;
    display: flex;
    align-items: center;
}

.close-btn {
    display: none;
}




















/* Global styles to remove horizontal scrolling */
body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
