 /*src/components/Profile/Profile.css */
* {
    box-sizing: border-box;
}

.profile-container {
    display: flex;
    margin-top: 10px;
    width: 99%;
    height: 100%;
    position: relative;

    font-family: Poppins;

}

.side {
    margin-top: 130px;
    position: fixed;
    width: 100%;
    max-width: 200px;
    padding: 20px;
    color: #052081; /* Цвет текста - белый */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow-y: auto; /* Добавлено, чтобы обеспечить прокрутку, если содержимое не помещается */


}

.sidebar-item {
    display: flex;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 4px 7px 7px #452b2b;
    box-sizing: border-box;
    transition: background-color 0.3s;

}

.sidebar-item:hover {
    box-shadow: 2px 3px 3px #452b2b;

}

.sidebar-item:hover {
    background-color: #d9d9d9;
}

.sidebar-item.active {
    background-color: #a6a6a6;
    color: white;
}

.sidebar-item.logout {
    margin-top: 20px;
    background-color: #ff4d4f;
    color: white;
    box-shadow: 4px 7px 7px #452b2b;
}

.sidebar-item.logout:hover {
    background-color: #d71317;
    box-shadow: 2px 3px 3px #301c1c;
}

.profile-content {
    padding: 20px;
    background: #ffffff;
    margin: 130px 0 0 240px;
    width: 90% !important;
}

.profile-input {
    margin-bottom: 15px;
    font-size: 17px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.purchase-history-title th {
    text-align: center!important;
}

.order-history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;


}

.order-history-table th, .order-history-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;


}

.order-history-table th {
    background-color: #f2f2f2;
}

.order-history-table td ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.order-history-table td li {
    margin-bottom: 5px;
    font-size: 11px;
}

.order-history-table td p {
    margin: 0;
}

.updateProfile {
    font-size: 17px;
    padding: 5px 7px;
    width: auto;
    background: #023062;
    box-shadow: 4px 7px 7px grey;

}
.updateProfile:hover {
    padding: 5px 7px;
    background: #3060f5;
    box-shadow: 2px 3px 3px #5d5c5c;

}

.addProfile {
    background: #023062;
    font-size: 16px;
    margin-left: 6px;
    border-radius: 3px;
    box-shadow: 3px 6px 6px #676565;
    color: white;
    font-family: Poppins;
    font-weight: 400;
    width: auto;
}
.addProfile:hover {
    background: #0c13a4;
    box-shadow: 2px 3px 4px #606060;

}

.noAdd {
    background: black;
    font-size: 16px;
    margin-right: 6px;
    border-radius: 3px;
    box-shadow: 3px 6px 6px #6d6b6b;
    line-height: 24px;
    font-family: Poppins;
    font-weight: 400;
    color: white;
    width: auto;
}

.noAdd:hover {
    background: #282626;
    box-shadow: 2px 3px 4px #6e6e6e;
}


.profile-buttons {
    display: flex;
    text-align: center;
    justify-content: center;
}

.pagination-buttons-users-profile {

    position: fixed;
    bottom: 20px; /* Располагаем кнопки внизу страницы с отступом 20px */
    left: 50%; /* Располагаем по центру горизонтально */
    transform: translateX(-50%); /* Центрируем кнопки относительно родительского элемента */
    text-align: center;
}


 .pagination-buttons-users-profile span {
     margin: 0 20px;
 }

.pagination-buttons-users-profile-prev {
    width: 111px;
    background: #1a026e;
}
.pagination-buttons-users-profile-next {
    width: 111px;
}

/*12345678*/

 .purchase-history {
     width: 100%;
     margin-top: 20px;

 }

 .order {
     border: 1px solid #ccc;
     border-radius: 5px;
     padding: 10px;
     margin-bottom: 20px;
 }

 .order p {
     margin: 5px 0;
 }

 .order ul {
     margin: 5px 0;
     padding-left: 20px;
 }

 .order ul li {
     margin-bottom: 5px;
 }

 /* Стили для пагинации */
 .pagination-my-history {
     margin-top: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 55px;
     text-align: center;

 }

 .pagination-my-history button {
     background-color: #022651;
     color: #fff;
     border: none;
     border-radius: 3px;
     padding: 10px 20px;
     margin: 0 5px;
     cursor: pointer;
 }

 .pagination-my-history button:hover {
     background-color: #0056b3;
 }

 .pagination-my-history button:disabled {
     background-color: #ccc;
     cursor: not-allowed;
 }

 .pagination-my-history-pages {
     margin: 0 10px;
 }

 .registration-notification {
     text-align: center;
     display: flex;
     flex-direction: column;

 }

 .registration-notification-span {
     color: #05619f;
 }











 /*12345678*/

 @media screen and (max-width: 768px) {
    .profile-container {
        margin-top: 0;
        flex-direction: column;
        align-items: stretch;
        margin-left: 1%;
    }

     .order {
         padding: 10px;
     }

     .order p {
         font-size: 14px;
     }

     .order ul {
         font-size: 14px;
     }

     .order ul li {
         font-size: 14px;
     }

    .side {
        margin-top: 0;
        width: 100%;
        max-width: none;
        position: relative;
        padding: 10px; /* Уменьшите отступы для более компактного вида */
        box-shadow: none;
        text-align: left;
        margin-bottom: 0!important;
        /*margin-top: 0;*/
    }
    input {
        font-size: 18px;
    }

    .profile-content {
        margin: 0;
        width: 98% !important;

    }

    .sidebar-item {
        box-shadow: none;
        border: 1px solid #cbcaca;
        border-radius: 0;
    }

    .sidebar-item.active {
        background-color: #dddddd;
        color: black;
    }

    .sidebar-item.logout {
        margin-top: 20px;
        background-color: #24a0f3;
        color: white;
        box-shadow: 4px 7px 7px #c2c4b2;
    }


    .updateProfile {
        font-size: 17px;
        padding: 5px 7px;
        width: auto;
        background: #0606f1;
        box-shadow: none;
        border: none;
    }

    .pagination-my-history {
        display: flex;


    }

}