
.footer-contact-info {
    display: flex;
    position: relative;
    width: 100% !important;
    height: 77px;
    background-color: #eeebeb;
    justify-content: space-between;
    font-family: Oswald;
    font-weight: 400;
    padding: 10px;
    /*padding-top: 2px;*/
    z-index: 1111;
    /*bottom: 0;*/
    font-size: 17px;
    line-height: 12px;
    margin-top: auto;
    /*margin-top: 15%!important;*/
    margin-bottom: 0!important;
    bottom: 0!important;


}

.contact-info-all-context {
    display: flex;
    /*width: 80%;*/
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}

@media (max-width: 768px) {

    .new-footer-adaptive {
        display: flex!important;
        width: 100%;
        top: 0!important;
        margin-bottom: 66px!important;
        z-index: 0;
        justify-content: space-around;
        margin-top: -70px;
        height: 40px;
        padding: 0 5px;
    }

    .contact-info-all-context {
        display: flex;
        width: 95% !important;
    }
    .phone {
        margin-left: -110px!important;
        font-size: 13px!important;
        margin-right: 7px;
    }

    .social-icons {
        width: 55%;
        margin-left: 0;
        margin-right: 4px;
    }

    .icon {
        margin-left: 4px;
        margin-right: 4px;
        padding: 0!important;
        width: 5px;
        height: 5px;
    }



    .workingTime {
        display: flex;
        margin-left: 0;
        font-size: 11px;
        width: 47%;
        padding: 0;
        /*line-height: 20px;*/
    }

}