
/*.contact-info {*/
/*    display: flex;*/
/*    !*position: absolute;*!*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 25px 0;*/
/*    background: #dddddd;*/
/*    margin-bottom: 0!important;*/
/*    bottom: 0!important;*/
/*    z-index: 11111;*/
/*}*/
.contact-info {
    display: inline-flex;
    /*position: fixed;*/
    width: 100%;
    height: 66px;
    background-color: #eeebeb;
    justify-content: space-between;
    font-family: Oswald;
    font-weight: 400;
    padding: 10px;
    padding-top: 2px;
    z-index: 1111;
    bottom: 0;
    font-size: 17px;
    line-height: 12px;
}

.contact-info-all-context {
    display: flex;
    /*width: 80%;*/
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}