
.side {
    margin-bottom: 7%;
    top: 0;
    bottom: 5px;
}

.button-sellers-profile-save {
    padding: 5px 0;
    text-align: center;
}

.seller-profile-buttons {
    padding: 5px 0;
    text-align: center;
}

.seller-profile-buttons-none {
    margin-right: 10px;
}
.seller-profile-buttons-add {
    margin-left: 10px;
}


@media only screen and (max-width: 768px) {

    .profile-content {
        margin-bottom: 100px;

    }
    .seller-profile-buttons {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        gap: 20px;
}

    .seller-profile-buttons-add {
        background: #1a026e;
    }
    .seller-profile-buttons-none {
        background: #090002;
    }
}