/* src/components/ProductList/ProductList.css */

.product-list {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 130px;
    margin-left: 230px;
    margin-bottom: 150px!important; /* Добавленный отступ снизу, чтобы не перекрывать pagination */

}

.product-card {
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.details {
    /*margin-left: 20px;*/
    /*margin-right: 25px;*/
    /*flex: 1;*/
    text-decoration: none;
    padding: 11px;
}
.brand {
    font-weight: bold;

}

.type, .brand, .name {
    font-size: 14px;
    margin-bottom: 5px;
}

.price span {
    font-size: 16px;
    font-weight: bold;
    color: #024875;

}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #2980b9;
    background: #a7fcf8;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    background-color: #f0f0f0;
}

.buy-button {
    background-color: #d0d0d0;
    color: #160101;
    padding: 5px 10px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 22px;
}

.buy-button:hover {
    background-color: #a7fcf8;

}


.cart-button {
    background-color: #d6d4d4;
    /*color: #fff;*/
    padding: 3px 10px 0;
    border: none;
    border-radius: 4px 0 0 4px;
    cursor: pointer;

}

.cart-button strong {
    font-weight: bold;
    font-size: 26px;
    margin-right: 10px;
}


.cart-button:hover {
    background-color: #f1fa0e;
    /*color: #fff;*/
    /*padding: 5px 10px;*/
    border: none;
    /*border-radius: 4px;*/
    cursor: pointer;
}


/*.pagination {*/
/*    display: inline-flex;*/
/*    margin: 0 0 0 420px;*/
/*    text-align: center;*/
/*    width: 300px;*/
/*    height: 60px;*/
/*}*/


/*.arrowL {*/
/*    font-size: 30px;*/
/*    !*box-shadow: 4px 6px 6px dimgray;*!*/
/*    background: white;*/
/*    box-sizing: content-box;*/
/*}*/
/*.arrowL:hover {*/
/*    font-size: 28px;*/
/*    background: white;*/
/*    box-sizing: content-box;*/
/*}*/


/*.arrowR {*/
/*    font-size: 30px;*/
/*    background: white;*/
/*    box-sizing: content-box;*/
/*}*/
/*.arrowR:hover {*/
/*    font-size: 28px;*/
/*    background: white;*/
/*    box-sizing: content-box;*/
/*}*/
/*.pagination button {*/
/*    background: red;*/

/*}*/

/*.pagination button:hover {*/
/*    background: none;*/

/*}*/

/*.numStr {*/
/*    margin-top: 15px;*/
/*}*/





.pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px; /* Желаемая максимальная ширина пагинации */
    margin: 0 auto;
    bottom: -70px;
}

.pagination button {
    background: #61e9cd;
    color: white;
    border: none;
    padding: 1px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    border-radius: 7px;
}
.pagination button:hover {
    background: #93eedc;
}

.pagination button:disabled {
    background: #b5b4b4;
    color: #666;
    cursor: not-allowed;
}

.numStr {
    font-size: 16px;
    font-weight: bold;
}

.arrowL {
    font-size: 35px;
}

.arrowR {
    font-size: 35px;

}


@media only screen and (max-width: 768px) {
    .product-list {
        margin-left: 1px;
        margin: 310px 1px 1px 1px;
    }

}
