/* src/components/ProductList/ProductList.css */

/*.product-list {*/
/*    display: grid;*/
/*    position: relative;*/
/*    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
/*    gap: 20px;*/
/*    padding: 20px;*/
/*    margin-top: 151px!important;*/
/*    margin-left: 230px;*/
/*    margin-bottom: 90px!important; !* Добавленный отступ снизу, чтобы не перекрывать pagination *!*/

/*}*/

.product-card {
    border: 1px solid #eeecec;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
}

.product-card:hover {
    transform: scale(1.015);
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}


.brand-and-name {
    display: inline-flex;

}

.brand {
    margin-right: 3px;
}

.name {
    margin-left: 3px;

}


.details {
    /*margin-left: 20px;*/
    /*margin-right: 25px;*/
    /*flex: 1;*/
    text-decoration: none;
    padding: 5px;


}
.brand {
    font-weight: bold;

}

.type, .brand, .name {
    font-size: 14px;
    margin-bottom: 5px;
    font-family: Poppins;
    font-weight: 500;
}

.price span {
    font-size: 20px;
    font-weight: bold;
    color: #000102;

}

.price {
    font-size: 20px;
    font-weight: bold!important;
    color: #000000!important;
    /*background: #a7fcf8;*/
    font-family: Oswald;
}

.actions {
    display: flex;

    align-items: center;
    padding: 6px;
    background-color: #d9d5d5 !important;

}

.buy-button {
    background-color: #d0d0d0;
    color: #160101;
    padding: 5px 10px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 22px;
    box-shadow: 3px 7px 7px grey;
}

.buy-button:hover {
    background-color: #a7fcf8;
    box-shadow: 1px 3px 3px #5a5959;

}


.cart-button {
    background-color: #160efa !important;
    /*color: #fff;*/
    padding: 3px 10px 0;
    border: none;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    box-shadow: 3px 7px 7px grey;


}

.cart-button strong {
    font-weight: bold;
    font-size: 26px;
    margin-right: 10px;
    color: white;
}


.cart-button:hover {
    background-color: #3447f6 !important;
    box-shadow: 1px 3px 3px #5a5959;

}

.pagination {
    position: absolute;
    bottom: 0;
    left: 40% !important;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    /*justify-content: space-between;*/
    width: 100%;
    /*max-width: 600px; !* Желаемая максимальная ширина пагинации *!*/
    margin: 0 auto;
    margin-bottom: 30px!important;
}

.pagination span {
    margin-left: 27px;
    margin-right: 27px;
}

.pagination button {
    background: none;
    color: white;
    border: none;
    padding: 1px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    border-radius: 7px;
}
.pagination button:hover {
    background: #e0f5f1;
}

.pagination button:disabled {
    background: #d4d0d0;
    color: #666;
    cursor: not-allowed;
}

.numStr {
    font-size: 16px;
    font-weight: bold;
}

.arrowLImg {
    width: 26px;
    height: 26px;
    /*box-shadow: 4px 7px 7px grey;*/
}
.arrowRImg {
    width: 26px;
    height: 26px;
}

.arrowL {
    box-shadow: 4px 7px 7px grey;
}
.arrowL:hover {
    box-shadow: 2px 3px 3px grey;
}

.arrowR {
    box-shadow: 4px 7px 7px grey;
}

.arrowR:hover {
    box-shadow: 2px 3px 3px grey;
}
.pagination span {
    text-align: center;
}

.product-list-plinth {
    /*width: 100%;*/
    /*height: 20px;*/
    /*margin-bottom: 40px;*/
    /*background-color: #1f1c1c;*/

}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0; /* или любой другой нужный вам отступ */
    margin-bottom: 11px;
}


@media only screen and (max-width: 768px) {
    .product-list {
        margin: 170px 4px 90px 1px!important;
        padding-bottom: 0!important;
    }


    .pagination {
        display: inline-flex;
        margin-left: 1%!important;
        width: auto;

    }
    .pagination span {
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
    }

    .arrowL {
        font-size: 35px;
        padding: 4px 11px!important;
    }

    .arrowR {
        font-size: 35px;
        padding: 4px 11px!important;
    }


    .pagination {
        text-align: center;
        right: 25% !important;
        width: auto;
    }

    .pagination span {
        margin-left: 16px;
        margin-right: 16px;

    }

    .numStr {
        text-align: center;
    }

}

@media only screen and (width: 280px) {
    .pagination {
        margin-left: -18px!important;
    }

}

@media only screen and (width: 820px) {
    .pagination {
        margin-left: -127px!important;
    }

}


@media only screen and (width: 1024px) {
        .pagination {
            display: inline-flex;
            margin-right: 210px!important;
        }
    .arrowR {
        margin-right: 200px!important;
    }

}





.product-list {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 6 - 20px), 1fr)) !important; /* Изменено */
    gap: 20px;
    padding: 20px;
    margin-top: 151px !important;
    margin-left: 230px;
    margin-bottom: 90px !important; /* Добавленный отступ снизу, чтобы не перекрывать pagination */
}

@media only screen and (max-width: 1340px) {
    .product-list {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 5 - 20px), 1fr)) !important; /* Изменено */
    }
}

@media only screen and (max-width: 1200px) {
    .product-list {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4 - 20px), 1fr)) !important; /* Изменено */
    }

}


@media only screen and (max-width: 960px) {
    .product-list {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3 - 20px), 1fr)) !important; /* Изменено */
        /*margin: 170px 4px 90px 1px !important;*/
        padding-bottom: 0 !important;
    }
}

@media only screen and (max-width: 900px) {
    .product-list {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3 - 20px), 1fr)) !important; /* Изменено */
        /*margin: 170px 4px 90px 1px !important;*/
        padding-bottom: 0 !important;
    }
}

@media only screen and (max-width: 480px) {
    .product-list {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 2 - 20px), 1fr)) !important; /* Изменено */
    }
}

@media only screen and (max-width: 320px) {
    .product-list {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 1 - 20px), 1fr)) !important; /* Изменено */
    }
}








/*.product-card {*/
/*    border: 1px solid #eeecec;*/
/*    border-radius: 3px;*/
/*    overflow: hidden;*/
/*    transition: transform 0.2s ease-in-out;*/
/*}*/

/*.product-card:hover {*/
/*    transform: scale(1.05);*/
/*}*/

/*.product-list {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 1fr); !* 3 columns for desktop *!*/
/*    gap: 10px;*/
/*    margin-top: 40px;*/
/*}*/

/*@media (max-width: 1200px) {*/
/*    .product-list {*/
/*        grid-template-columns: repeat(5, 1fr) !important; !* 2 columns for tablet *!*/
/*    }*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .product-list {*/
/*        grid-template-columns: repeat(4, 1fr); !* 2 columns for smaller screens *!*/
/*    }*/
/*}*/

/*@media (max-width: 480px) {*/
/*    .product-list {*/
/*        grid-template-columns: repeat(4, 1fr); !* 1 column for mobile *!*/
/*    }*/
/*}*/
