
.footer-page {
    display: none;
}

/*#root {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    min-height: 100vh;*/
/*}*/


/*@media (max-width: 768px) {*/
/*    !*.home-page-footer {*!*/
/*    !*    width: 100% !important;*!*/

/*    !*}*!*/
/*    .footer-page {*/
/*        display: inline-flex;*/
/*        position: fixed;*/
/*        width: 100% !important;*/
/*        height: 90px;*/
/*        background-color: #eeebeb;*/
/*        !*padding: 10px;*!*/
/*        justify-content: space-between;*/
/*        font-family: Oswald;*/
/*        font-weight: 400;*/
/*        padding: 10px;*/
/*        z-index: 1111;*/
/*!*box-sizing: border-box !important;*!*/
/*        bottom: 0;*/
/*    }*/

/*    .home-icon {*/
/*        display: block;*/
/*        !*width: 13%;*!*/
/*        align-items: center;*/
/*        text-align: center;*/
/*        margin-top: auto;*/
/*        margin-bottom: auto;*/
/*        column-count: 1;*/
/*        padding: 0;*/


/*    }*/
/*    .home-icon-img {*/
/*        width: 25px;*/
/*        height: 25px;*/
/*        align-items: center;*/



/*    }*/

/*    .home-icon-link {*/

/*    }*/

/*    .catalog-icon {*/
/*        display: block;*/
/*        !*width: 13%;*!*/
/*        align-items: center;*/
/*        text-align: center;*/
/*        !*margin-left: 40px;*!*/
/*        margin-top: auto;*/
/*        margin-bottom: auto;*/
/*        padding: 0;*/

/*    }*/

/*    .catalog-icon-img {*/
/*        width: 25px;*/
/*        height: 25px;*/
/*        align-items: center;*/

/*    }*/



/*    .profile-icon {*/
/*        display: block;*/
/*        !*width: 13%;*!*/
/*        align-items: center;*/
/*        text-align: center;*/
/*        !*margin-left: 40px;*!*/
/*        margin-top: auto;*/
/*        margin-bottom: auto;*/
/*        padding: 0;*/

/*    }*/

/*    .profile-icon-img {*/
/*        width: 25px;*/
/*        height: 25px;*/
/*        align-items: center;*/

/*    }*/




/*    .cart-icon {*/
/*        display: block;*/
/*        !*width: 13%;*!*/
/*        align-items: center;*/
/*        text-align: center;*/
/*        !*margin-left: 40px;*!*/
/*        margin-top: auto;*/
/*        margin-bottom: auto;*/
/*        font-weight: 400;*/
/*        padding: 0;*/

/*    }*/

/*    .cart-icon-img {*/
/*        width: 25px;*/
/*        height: 25px;*/
/*        align-items: center;*/

/*    }*/




/*    .contact-icon {*/
/*        display: block;*/
/*        !*width: 13%;*!*/
/*        align-items: center;*/
/*        text-align: center;*/
/*        !*margin-left: 40px;*!*/
/*        margin-top: auto;*/
/*        margin-bottom: auto;*/

/*        font-weight: 400;*/
/*        padding: 0;*/

/*    }*/

/*    .contact-icon-img {*/
/*        width: 25px;*/
/*        height: 25px;*/
/*        align-items: center;*/

/*    }*/







/*    .footer-dropdown-menu {*/
/*        position: absolute;*/
/*        !*top: 40px;*!*/
/*        right: 0;*/
/*        background-color: white;*/
/*        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
/*        z-index: 1;*/
/*        padding: 8px;*/
/*        border-radius: 4px;*/
/*        margin-top: -150px;*/
/*        margin-right: 29px!important;*/
/*        width: 200px;*/

/*    }*/
/*    .footer-dropdown-menu-close {*/
/*        margin-left: 80%;*/
/*        font-size: 22px;*/
/*    }*/

/*    .footer-dropdown-menu button {*/
/*        display: block;*/
/*        width: 80%;*/
/*        padding: 8px;*/
/*        margin-bottom: 4px;*/
/*        text-align: left;*/
/*        border: none;*/
/*        background-color: transparent;*/
/*        cursor: pointer;*/
/*        color: black;*/
/*        font-family: Poppins;*/
/*        font-weight: 500;*/
/*        font-size: 25px;*/
/*    }*/

/*    .footer-dropdown-menu button:hover {*/
/*        background-color: #f0f0f0;*/
/*    }*/

/*    .footer-dropdown-menu-partner {*/
/*        color: #007bff;*/
/*    }*/

/*    .footer-dropdown-menu-logout {*/
/*        color: red;*/
/*    }*/

/*    .home-icon.active {*/

/*        background: #6ed1ef;*/
/*        border: none;*/
/*        padding: 2px;*/
/*        border-radius: 7px;*/

/*    }*/

/*    .catalog-icon.active {*/

/*        background: #6ed1ef;*/
/*        border: none;*/
/*        padding: 2px;*/
/*        border-radius: 7px;*/


/*    }*/

/*    .cart-icon.active {*/

/*        background: #6ed1ef;*/
/*        border: none;*/
/*        padding: 2px;*/
/*        border-radius: 7px;*/

/*    }*/

/*    .contact-icon.active {*/

/*        background: #6ed1ef;*/
/*        border: none;*/
/*        padding: 2px;*/
/*        border-radius: 7px;*/
/*    }*/

/*    .profile-icon.active {*/

/*        background: #6ed1ef;*/
/*        border: none;*/
/*        padding: 2px;*/
/*        border-radius: 7px;*/
/*    }*/

/*    .profile-icon {*/
/*        margin-right: 7px;*/
/*    }*/

/*}*/
















/* styles.css */
.modal {
    position: relative;
}
.contact-info-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    /*z-index: 1000;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    color: black;
    line-height: 50px;
    overflow-y: unset;


}

.modal-content-modal {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
    border-radius: 10px;
}

.close-btn-modal {
    /*position: absolute;*/
    /*top: 10px;*/
    /*right: 10px;*/
    /*background: none;*/
    /*border: none;*/
    /*font-size: 1.5em;*/
    /*cursor: pointer;*/
    /*margin-top: 222px;*/
}

.icon-modal {
    width: 33px;
    height: 33px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
}

.phone-link-modal, .phone-modal {
    font-size: 27px;
    margin-bottom: 30px!important;
}

.contact-info-modal-title {
    font-size: 33px!important;
    font-family: Poppins;
    font-weight: 500;

}

.close-btn-modal {
    width: 50px;
    height: 50px;
    font-size: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 16px;
    color: black;
    margin-left: 70%;
    font-weight: bold;
    background: none;

}













@media (max-width: 768px) {
    .footer-page {
        display: inline-flex;
        position: fixed;
        width: 100% !important;
        height: 66px;
        background-color: #eeebeb;
        justify-content: space-between;
        font-family: Oswald;
        font-weight: 400;
        padding: 10px;
        padding-top: 2px;
        z-index: 1111;
        bottom: 0;
        font-size: 17px;
        line-height: 12px;

    }

    .home-icon, .catalog-icon, .profile-icon, .cart-icon, .contact-icon {
        display: block;
        align-items: center;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;

        color: #5d5c5c;
    }

    .cart-icon {
        position: relative; /* Это необходимо для абсолютного позиционирования внутри */
        display: inline-block;
    }

    .cart-icon-img {
        width: 50px; /* Ширина и высота изображения, вы можете изменить их под свои нужды */
        height: 50px;
    }

    .total-items-count {
        position: absolute;
        top: 3px;
        right: 9px;
        background-color: red; /* Фон для счетчика, вы можете изменить цвет */
        color: white; /* Цвет текста счетчика */
        border-radius: 50%; /* Закругленные углы для создания круга */
        padding: 4px 8px; /* Внутренние отступы */
        font-size: 12px; /* Размер шрифта */
        transform: translate(50%, -50%); /* Сместить на 50% вправо и вверх для нахлёстывания */
        font-weight: bold;
    }


    .home-icon-img, .catalog-icon-img, .profile-icon-img, .cart-icon-img, .contact-icon-img {
        width: 25px;
        height: 25px;
        align-items: center;
        filter: brightness(62%) saturate(10%) invert(10%) sepia(0%) saturate(30%) hue-rotate(10deg) brightness(10%) contrast(15%);

    }

    .footer-dropdown-menu {
        position: absolute;
        right: 0;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 8px;
        border-radius: 4px;
        margin-top: -150px;
        margin-right: 29px!important;
        width: 200px;
    }

    .footer-dropdown-menu-close {
        margin-left: 80%;
        font-size: 22px;
        color: #5d5c5c;
    }
    .home-icon-link {
        color: #5d5c5c;
    }

    .footer-totalItems {
        color: #5d5c5c;
    }

    .footer-dropdown-menu button {
        display: block;
        width: 80%;
        padding: 8px;
        margin-bottom: 4px;
        text-align: left;
        border: none;
        background-color: transparent;
        cursor: pointer;
        /*color: black;*/
        font-family: Poppins;
        font-weight: 500;
        font-size: 25px;


    }

    .footer-dropdown-menu button:hover {
        background-color: #f0f0f0;
    }

    .footer-dropdown-menu-partner {
        color: #007bff;
    }
    .footer-dropdown-menu-logout {
        color: red;
    }

    .footer-dropdown-menu-close {
        color: black!important;
        cursor: pointer;
    }

    .home-icon.active, .catalog-icon.active, .cart-icon.active, .contact-icon.active, .profile-icon.active {
        background: none;
        border: none;
        padding: 2px;
    }


    .home-icon.active img, .catalog-icon.active img, .cart-icon.active img, .contact-icon.active img, .profile-icon.active img {
        filter: brightness(0) saturate(100%) invert(47%) sepia(64%) saturate(3309%) hue-rotate(169deg) brightness(93%) contrast(88%);
        /* Makes the image blue */
    }

    .home-icon.active span, .catalog-icon.active span, .cart-icon.active span, .contact-icon.active span, .profile-icon.active span {
        color: #0990ea; /* Makes the text white */
    }

    .total-items-count span {
        color: white!important;
    }
}
