



/*!* src/components/Cart/Cart.css *!*/

/*.cart {*/
/*    padding: 20px;*/
/*    background-color: #f9f9f9;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 3px;*/
/*    width: 85%;*/
/*    margin: auto;*/
/*}*/

/*.cart h2 {*/
/*    text-align: center;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.cart-item {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    border-bottom: 1px solid #ddd;*/
/*    margin-bottom: 10px;*/
/*    padding-bottom: 10px;*/
/*}*/

/*.cart-item img {*/
/*    width: 80px;*/
/*    height: auto;*/
/*    margin-right: 20px;*/
/*}*/



/*.item-info {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*.item-info img {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    width: 65px;*/
/*    height: 65px;*/
/*    object-fit: contain;*/
/*}*/

/*.item-details {*/
/*    font-size: 14px;*/
/*    display: flex;*/
/*}*/
/*.item-details div {*/
/*    margin-left: 15px;*/
/*}*/

/*.item-details div span {*/
/*    font-weight: bold;*/
/*    color: #0355a7;*/
/*}*/

/*.item-quantity {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.item-quantity button {*/
/*    background-color: deepskyblue;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    padding: 5px 10px;*/
/*    margin: 0 5px;*/
/*    font-weight: bold;*/
/*}*/

/*.item-quantity span {*/
/*    margin: 0 5px;*/
/*}*/

/*.cart-summary {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin-top: 20px;*/
/*    font-size: 16px;*/
/*}*/

/*.cart-summary button {*/
/*    width: auto;*/
/*    padding: 10px 20px;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*}*/

/*.cart-summary span {*/
/*    font-weight: bold;*/
/*    width: 60px; !* Фиксированная ширина для элементов с общей суммой *!*/
/*    display: inline-block; !* Чтобы применились стили ширины *!*/
/*}*/


/* src/components/Cart/Cart.css */


* {
    box-sizing: border-box;
}


.cart {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 90% !important;
    margin: auto;
    box-sizing: border-box;
    margin-top: 190px;
    margin-bottom: 30px;
}

.title {
    font-size: 35px;
    font-family: Phosphate;
}
.title span {
    color: #b13902;
    font-family: "Playfair Display";
    border: 3px solid #007bff;
    border-radius: 45%;
    background: #f3f3c6;
    font-size: 40px;
    font-weight: bold;
}

.cart h2 {
    text-align: center;
    margin-bottom: 10px;
}

.cart-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.cart-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.item-info {
    display: flex !important;
    align-items: center;
    text-align: center;
}

.item-info img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 10px;
}

.item-details {
    display: inline !important;
    font-size: 14px;
    /*display: flex;*/
    flex-direction: row;
}

.item-details div {
    margin-bottom: 5px;
    margin-right: 15px;
}

.item-details div span {
    font-weight: bold;
    color: #0355a7;
}

.item-quantity {
    display: flex;
    align-items: center;
}

.item-quantity button {
    background-color: deepskyblue;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    font-weight: bold;
}

.item-quantity span {
    margin: 0 5px;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 14px;
}

.cart-summary button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}

.cart-summary span {
    font-weight: bold;
    margin-bottom: 5px;
}

.checkCart {
    background: #0ce00c;
    color: #faf9f7;
    box-shadow: 4px 6px 6px #6a6d66;
    font-size: 17px;
    font-weight: bold!important;

}

.checkCart:hover {
    background: #0ab00a;
    box-shadow: 1px 2px 2px #6a6d66;
}

.clearCart {
    margin-left: 10px;
    background: orangered;
    box-shadow: 4px 6px 6px #6a6d66;
    font-size: 17px;
    font-weight: bold!important;
}
.clearCart:hover {
    background: #c63b07;
    box-shadow: 1px 2px 2px #6a6d66;

}

.closeCart {
    float: right;
    margin: 0 1.5%;
    font-size: 22px;
    cursor: pointer;
}
.closeCart:hover {
   color: #be2105;
}

.cartImg {
    width: 77px!important;
    height: 77px!important;

}

.btnMinus {
    font-size: 22px;
    padding: 2px 5px!important;
    box-shadow: 3px 4px 4px #6a6d66;
}
.btnMinus:hover {
    font-size: 22px;
    padding: 2px 5px!important;
    background: #0355a7;
    box-shadow: 1px 2px 2px #6a6d66;

}

.btnPlus {
    font-size: 22px;
    padding: 2px 5px!important;
    box-shadow: 3px 4px 4px #6a6d66;
}

.btnPlus:hover {
    font-size: 22px;
    padding: 2px 5px!important;
    background: #0355a7;
    box-shadow: 1px 2px 2px #6a6d66;

}

.deleteOne {
    padding: 5px;
    font-size: 22px;
    width: 15%;
    background: orangered!important;
    box-shadow: 3px 4px 4px #6a6d66;

}

.deleteOne:hover {
    padding: 5px;
    /*font-size: 22px;*/
    /*width: 15%;*/
    background: #d96135 !important;
    box-shadow: 1px 2px 2px #6a6d66;

}

.allSum {
    width: 120px!important;
    height: auto!important;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0!important;
    box-sizing: content-box;
}


@media screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
    }

    .cart {
        margin-top: 330px;
        display: inline-block;
    }

    .item-info {
        display: inline-flex!important;
        flex-direction: row;
    }

    .item-details {
        display: inline-flex!important;
        flex-direction: row!important;

    }

    .item-details div {
        margin-right: 8px;
    }

    .cart-item img {
        width: 80px;
        margin-bottom: 0;
    }

    .item-details {
        margin-left: 15px;
    }
}

@media (min-width: 768px) {
    .cart {
        margin-top: 170px!important;
        width: 80%;
    }
    .item-details {
        display: inline-flex!important;
        flex-direction: row !important;
    }

}

@media (min-width: 992px) {
    .cart {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .cart {
        width: 60%;
    }
}

