


.cart-summary {
    margin-top: 170px;
    position: fixed;
    display: inline-block;
    flex-direction: column;
    /*margin-top: 10px;*/
    font-size: 14px;
    margin-left: 840px;
    margin-right: 150px;
    border: 2px solid red;
    width: 30%;
    min-height: 100px!important;
    padding: 8px;
}

.cart-summary button {
    display: inline-block;
    /*width: 100%;*/
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}

.cart-summary span {
    font-weight: bold;
    margin-bottom: 5px;
}
