.product-list-container {
    font-family: Poppins;
    position: relative;
}
.favorites-title {
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    margin-bottom: 0;
}

.favorite-page-content {

    margin: 20px 50px auto 50px!important;


}

.favorite-page-content-loading {
    position: absolute!important;
    /*text-align: center!important;*/
    margin: 0 auto!important;
    color: #0956ef;
}
.add-to-cart-button {
    background-color: #04c471 !important;
    width: 100%;

}


.favorite-page-content-empty {
    display: block!important;
    /*position: absolute!important;*/
    background: white;
    width: 100% !important;
    margin: 0 auto!important;
    text-align: center!important;
    justify-content: center!important;
    align-items: center!important;
    position: center;

}


.emptyCartEls.favorite-page-content-empty-text {
    display: flex!important;
    text-align: center;
    cursor: pointer;
    font-family: Poppins;
    background: #eae6e9;
    border-radius: 8px 8px 0 0;
    padding-bottom: 20px;
}

.emptyCart {
    max-width: 200px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
