.product-list-container {
    font-family: Poppins;
    position: relative;
}
.favorites-title {
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    margin-bottom: 0;
}

.favorite-page-content {
    margin-top: 0!important;
}

.favorite-page-content-loading {
    position: relative!important;
    text-align: center!important;
    margin: 0 auto!important;
    color: #0956ef;
}
.add-to-cart-button {
    background-color: #04c471 !important;

}

.favorite-page-content-loading-text {
    display: flex!important;
    position: absolute;
    width: auto!important;
    font-size: 25px;
    color: #5d5c5c;
    font-weight: bold;
    text-align: center!important;
    margin: 0 auto;
}
