

/* src/components/Sidebar/Sidebar.css */

.sidebar {
    margin-top: 20px;
    position: fixed;
    width: 100%;
    max-width: 215px;
    padding: 15px 5px;
    /*background-color: #272727; !* Цвет фона - темный серый *!*/
    color: #0732d0; /* Цвет текста - белый */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    /*text-align: center;*/
    overflow-y: auto; /* Добавлено, чтобы обеспечить прокрутку, если содержимое не помещается */
    margin-left: 10px;
}

.sidebar {
    /* ... (остальной код) */
    transform: translateX(-105%);
    transition: transform 0.3s ease;
}

.sidebar.show {
    margin-top: 99px;
    transform: translateX(0);
}

.closeBtn {
    margin-left: 135px;
    font-size: 25px;
    margin-bottom: -30px;
    z-index: 1;
}


.closeBtn:hover {
    margin-left: 135px;
    font-size: 25px;
    margin-bottom: -30px;
    z-index: 1;
    cursor: pointer;
}


h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #040240; /* Цвет заголовка - зеленый */
    font-weight: bold;
}
.sbTitle {
    color: #021170;
    /*font-weight: bold;*/
    font-family: Futura;
    text-shadow: 2px 2px 2px #37cee2;
}

ul {
    list-style-type: none;
    padding: 0;
}

.sbLi {
    margin-bottom: 1px;
    cursor: pointer;
    font-size: 17px;
    transition: color 0.3s, background-color 0.3s;
    padding: 4px;
    color: #012b32;
    text-shadow: 1px 3px 2px #93c3f1;
    font-family: Luminari;
    border-radius: 3px;
    font-weight: bold;
    display: inline-flex;
    width: 100%;
}
.sbLi::before {
    content: "•";
    float: left;
    padding: 0 0.5em 0 0;
}

li:hover {
    color: #ffffff; /* Изменено на белый цвет при наведении */
    background-color: #2fb7bc; /* Изменено на зеленый цвет при наведении */
}

@media screen and (max-width: 768px) {

    .sidebar {
        width: 80% !important;

    }

     .show {
        top: 200px;
         z-index: 1;
         background: white;

    }
    li {
        font-size: 18px;
    }

}
