

/* src/components/Sidebar/Sidebar.css */
.sidebar {
    margin-top: 20px;
    position: fixed;
    /*width: 100%;*/
    width: 215px;
    padding: 15px 5px;
    /*background-color: #272727; !* Цвет фона - темный серый *!*/
    color: #0732d0; /* Цвет текста - белый */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    /*text-align: center;*/
    overflow-y: auto; /* Добавлено, чтобы обеспечить прокрутку, если содержимое не помещается */
    margin-left: 10px;
    border-radius: 0 11px 11px 0;
}

.sidebar {
    /* ... (остальной код) */
    transform: translateX(-115%);
    transition: transform 1s ease;
    z-index: 1;
}

.sidebar.show {
    margin-top: 90px;
    transform: translateX(0);

}


h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #040240; /* Цвет заголовка - зеленый */
    font-weight: bold;
}
.sbTitle {
    color: #021170;
    /*font-weight: bold;*/
    font-family: Futura;
    text-shadow: 2px 2px 2px #37cee2;
}

ul {
    list-style-type: none;
    padding: 0;
}


.sbLi {
    margin-bottom: 1px;
    cursor: pointer;
    font-size: 17px;
    transition: color 0.3s, background-color 0.3s;
    padding: 4px;
    color: #012b32;
    text-shadow: 1px 3px 2px #93c3f1;
    font-family: Luminari;
    border-radius: 3px;
    font-weight: bold;
    display: inline-flex;
    width: 100%;
}
.sbLi::before {
    content: "•";
    float: left;
    padding: 0 0.5em 0 0;
}

li:hover {
    color: #ffffff; /* Изменено на белый цвет при наведении */
    background-color: #2fb7bc; /* Изменено на зеленый цвет при наведении */
}

/* Добавляем стиль для затемнения фона */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный черный цвет */
    z-index: 100; /* Поднимаем над боковым меню */
    display: none; /* По умолчанию скрыт */
}

/* Показываем затемнение фона при открытом боковом меню */
.sidebar.show + .overlay {
    display: block;
}

@media screen and (max-width: 768px) {

    .sidebar {
        width: 60% !important;
        padding: 0;

    }


    .sbTitle {
        color: white;
        text-shadow: 2px 3px 3px #c3c1c1;
        font-size: 30px!important;
        padding-top: 10px;
    }

    .titleShow {

        width: 100%;
        margin-top: 20px;
        background: #076986;
        padding-bottom: 5px;
        margin-bottom: 0;
    }

    .closeBtn {
        position: absolute;
        left: 82%;
        top: -11px;
        color: #020003;
        font-size: 45px;
        z-index: 20;
        cursor: pointer;
        margin-right: 130px!important;

    }

    .show {
        top: 200px;
        z-index: 1;
        background: white;
        font-size: 26px;

        overflow: hidden;
    }
    li {
        font-size: 18px;
    }

    /* Добавляем стиль для затемнения фона */
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Затемненный цвет */
        z-index: 10; /* Должен быть выше, чем у бокового меню */
    }

}

