/*!* src/components/Sidebar/Sidebar.css *!*/

/*.sidebar {*/
/*    width: 200px;*/
/*    padding: 20px;*/
/*    background-color: #fff;*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*    border-radius: 5px;*/
/*}*/

/*h2 {*/
/*    font-size: 20px;*/
/*    margin-bottom: 15px;*/
/*    color: #333;*/
/*}*/

/*ul {*/
/*    list-style-type: none;*/
/*    padding: 0;*/
/*}*/

/*li {*/
/*    margin-bottom: 12px;*/
/*    cursor: pointer;*/
/*    transition: color 0.3s;*/
/*    font-size: 16px;*/
/*    color: #555;*/
/*}*/

/*li:hover {*/
/*    color: #007bff;*/
/*}*/

/*!* Адаптация для мобильных устройств *!*/
/*@media (max-width: 600px) {*/
/*    .sidebar {*/
/*        width: 100%;*/
/*        padding: 15px;*/
/*        box-shadow: none;*/
/*        border-radius: 0;*/
/*    }*/

/*    h2 {*/
/*        font-size: 18px;*/
/*    }*/

/*    li {*/
/*        font-size: 14px;*/
/*    }*/
/*}*/




/*!* src/components/Sidebar/Sidebar.css *!*/

/*.sidebar {*/
/*    margin-top: 130px;*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    max-width: 200px;*/
/*    padding: 20px;*/
/*    background-color: #dddede;*/
/*    color: #02026b;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
/*    text-align: center;*/
/*}*/

/*h2 {*/
/*    font-size: 22px;*/
/*    margin-bottom: 15px;*/
/*    color: #046db3;*/
/*}*/

/*ul {*/
/*    list-style-type: none;*/
/*    padding: 0;*/
/*}*/

/*li {*/
/*    margin-bottom: 10px;*/
/*    cursor: pointer;*/
/*    font-size: 16px;*/
/*    transition: color 0.3s;*/
/*}*/

/*li:hover {*/
/*    color: #1abc9c;*/
/*}*/

/*!* Адаптивность *!*/
/*@media screen and (max-width: 768px) {*/

/*    .sidebar {*/
/*        max-width: 200px;*/
/*        width: 200px;*/
/*        margin-top: 350px;*/

/*    }*/
/*}*/






/* src/components/Sidebar/Sidebar.css */

.sidebar {
    margin-top: 150px;
    position: fixed;
    width: 100%;
    max-width: 200px;
    padding: 20px;
    background-color: #272727; /* Цвет фона - темный серый */
    color: #052081; /* Цвет текста - белый */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow-y: auto; /* Добавлено, чтобы обеспечить прокрутку, если содержимое не помещается */
}

h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #1abc9c; /* Цвет заголовка - зеленый */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 1px;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s, background-color 0.3s;
    padding: 5px;
    color: #0355a7;
    border-radius: 8px;
    font-weight: bold;
}

li:hover {
    color: #ffffff; /* Изменено на белый цвет при наведении */
    background-color: #1abc9c; /* Изменено на зеленый цвет при наведении */
}

/*!* Адаптивность *!*/
/*@media screen and (max-width: 768px) {*/
/*    .sidebar {*/
/*        max-width: 200px;*/
/*        width: 100%;*/
/*        margin-top: 342px; !* Изменено для лучшей видимости на мобильных устройствах *!*/
/*    }*/

/*    h2 {*/
/*        font-size: 18px; !* Уменьшенный размер шрифта для адаптивности *!*/
/*    }*/
/*}*/

/* Адаптивность */
@media screen and (max-width: 768px) {
    .sidebar {
   display: none;
       }

    /*h2 {*/
    /*    font-size: 18px; !* Уменьшенный размер шрифта для адаптивности *!*/
    /*}*/
}
