



/*!* src/components/ProductDetails/ProductDetails.css *!*/

/*.product-details {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    max-width: 80%;*/
/*    margin: 20px auto;*/
/*    padding: 20px;*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.image-gallery {*/
/*    display: flex;*/
/*    margin-bottom: 20px;*/

/*}*/

/*.image-gallery img {*/
/*    display: flex;*/
/*    margin-bottom: 20px;*/
/*    max-width: 350px;*/
/*    max-height: 350px;*/
/*    object-fit: contain;*/

/*}*/

/*.main-image {*/
/*    width: 60%;*/
/*    height: auto;*/
/*    object-fit: cover;*/
/*    border-radius: 8px;*/
/*    margin-right: 20px;*/
/*}*/

/*.thumbnail-gallery {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.thumbnail {*/
/*    width: 50px;*/
/*    height: auto;*/
/*    object-fit: cover;*/
/*    border-radius: 4px;*/
/*    margin-bottom: 5px;*/
/*    cursor: pointer;*/
/*    transition: opacity 0.3s ease;*/
/*}*/
/*.thumbnail:hover {*/
/*     opacity: 0.8;*/
/* }*/


/*.thumbnail.active {*/
/*    border: 2px solid #007bff;*/
/*}*/

/*.actions {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin-top: 20px;*/
/*}*/

/*.buy-now,*/
/*.add-to-cart {*/
/*    padding: 10px;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*}*/

/*.buy-now {*/
/*    background-color: #28a745;*/
/*    color: #fff;*/
/*    border: none;*/
/*}*/

/*.add-to-cart {*/
/*    background-color: #007bff;*/
/*    color: #fff;*/
/*    border: none;*/
/*}*/


/*.close-button {*/
/*    position: relative;*/
/*    top: 10px;*/
/*    right: 10px;*/
/*    font-size: 20px;*/
/*    cursor: pointer;*/
/*    background: none;*/
/*    border: none;*/
/*    outline: none;*/
/*}*/
















/* src/components/ProductDetails/ProductDetails.css */

/* src/components/ProductDetails/ProductDetails.css */
.product-details {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 96%;
    margin: 10px auto;
    margin-top: 130px;
    padding: 20px;
    border: 1px solid #e9e8e8;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*.close-button {*/
/*    align-self: self-start;*/
/*    margin-right: auto;*/
/*    font-size: 27px;*/
/*    border: none;*/
/*    background: none;*/
/*    cursor: pointer;*/
/*}*/
.close-button {
    position: absolute;
    align-self: flex-start;
    /*margin-right: auto;*/
    width: 23px;
    font-size: 35px!important;
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    margin-top: 20px;
    margin-right: 55px!important;
    color: #024783 !important;
}

.close-button:hover {
    background: none;
    color: #04f177 !important;
}

.image-gallery {
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-start;
}
.main-image {
    width: 350px;
    height: 350px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 20px;
    /*margin-left: 80px;*/
    margin-left: 17px!important;
    margin-right: 44px;

}

.thumbnail-gallery {
    margin-left: 20px;
    margin-right: 25px;
    flex: 1;
    width: 66px;
    /*border: 3px solid lightblue;*/
    /*border: 3px solid #d3ecf5;*/
    border-radius: 3px;
}

.thumbnail {
    width: 60px;
    height: 60px;
    object-fit: contain;
}
 .active {
   border: 2px solid #2980b9;
     border-radius: 3px;
}

.product-details .details {
     border: 4px solid #44a8ea;
     border-radius: 4px;
 }



.character:hover {
    color: #2980b9;
    cursor: auto;
    background: none;
}

strong {
    color: #1f1c1c;
}

.type {
    font-size: 22px;
    font-weight: bold;
}

.price {
    text-align: center;
    color: #055486;
}

.actions {
    display: flex;
    /*box-sizing: border-box;*/
    background: #ded9d9;
    border-radius: 0 0 3px 3px;

}

.buy-now {
    background: #2886ec;
    font-size: 20px;
    margin-right: 6px;
    border-radius: 0 0 0 9px;
    box-shadow: 3px 6px 6px #676565;
}

.buy-now:hover {
    background: #1869c1;
    box-shadow: 1px 3px 3px grey;
}

.add-to-cart {
    background: #28c605;
    font-size: 20px;
    margin-left: 6px;
    border-radius: 0 0 9px 0;
    box-shadow: 3px 6px 6px #6d6b6b;

}

.add-to-cart:hover {
    background: #1f9d03;
    box-shadow: 1px 3px 3px grey;
}

/* Media queries */
@media screen and (max-width: 768px) {
    .header {
        /*display: inline-flex;*/
        margin: 0 0 0 0!important;
        padding: 0!important;
        z-index: 11;
        position: fixed!important;

    }

    /*.add-to-cart {*/
    /*    font-size: 15px;*/
    /*    padding: 11px 2px;*/
    /*}*/

    .main-content {
        width: 100%;
        margin-left: 15px;
        margin: 0;
        padding: 0;
    }

    .product-details {
        flex-direction: column;
        margin-top: 300px;
        margin-right: 8px;
    }

    .details {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        border: none;
    }

    /*.close-button {*/
    /*    margin-right: 360px;*/
    /*    margin-top: 350px;*/
    /*}*/

    .image-gallery {
        width: 90%;
        align-items: center;
    }

    .main-image {
        width: 90%;
        margin-bottom: 20px;
        /*margin-right: 70px!important;*/
        margin-left: -60px!important;
        justify-content: flex-start;
    }

    .close-button {
        margin: 10px 2px 0 0!important;
    }

    .thumbnail-gallery {
        display: inline-flex;
        justify-content: flex-start;
        margin-top: 280px;
        z-index: 0;
    }


    .thumbnail-gallery img {
        margin-right: 10px;
        margin-top: 130px;
    }

    .thumbnail {
        margin-top: 50px;
        margin-bottom: 5px;
        margin-right: 5px;
        width: 44px;
        height: 44px;
    }
}










