/*!* src/components/ProductDetails/ProductDetails.css *!*/



.product-details-container {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box; /* Добавлено для учета отступов в ширине */
}

.product-details {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 140px;
    padding: 20px;
    border: 1px solid #e9e8e8;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Добавлено для учета отступов в ширине */
}

.block-product-details-close-button {
    position: absolute;
    top: -10px;
    left: 20px;
    z-index: 1;
}

.product-details-close-button {
    display: inline-flex;
    position: absolute;
    width: 23px;
    font-size: 35px;
    border: none;
    background: none;
    cursor: pointer;
    color: #6d6e6e;
    text-align: center;
    align-items: center;
    margin-left: 2%;
}

.product-details-close-button:hover {
    color: #049ef1 !important;
    background: none;
}

.span-product-details-close-button {
    font-size: 20px;
    margin-top: 5px;
}

.image-gallery {
    display: flex;
    align-items: flex-start;
    margin-top: 35px;
}

.main-image {
    width: 350px;
    height: 350px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 17px !important;
    margin-right: 44px;
}

.details-names {
    width: 100%;
    display: block;
}

.details-names-all {
    display: inline-flex;
    font-family: Poppins;
    font-weight: 600;
}

.description {
    font-family: Poppins;
    font-weight: 500;
}

.description strong {
    font-family: Oswald;
    font-weight: 600;
}

.product-sizes h3,
.product-colors h3 {
    display: inline-block;
    font-family: Poppins;
    font-weight: 600;
    margin-bottom: 9px;
    margin-top: 10px;
}

.thumbnail-gallery {
    margin-left: 20px;
    margin-right: 25px;
    flex: 1;
    width: 66px;
    border-radius: 3px;
}

.thumbnail {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;

    object-fit: contain;
}

.active {
    border: 2px solid #2980b9;
    border-radius: 3px;
}

.size-list {

}

.size,
.color {
    display: inline-flex;
    margin-right: 10px;
    border: 1px solid #c1bebe;
    padding: 7px;
    cursor: pointer;
    margin-bottom: 10px;
}

.color-box {
    width: 27px;
    height: 27px;
    margin: 0 auto;
    border: 1px solid #dddbdb;
}

.selected-color,
.selected-size {
    background-color: #c4c4c4;
}

.product-details .details {
    border-radius: 4px;
    width: 100%;
}

.type-details,
.brand-details,
.name-details {
    font-size: 17px !important;
    font-family: 'Poppins';
    margin-right: 11px;

}

.name-details {
    line-height: 25px;
}

.brand-details {
    color: #020000;
    align-items: center;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #02415a;
}

.character:hover {
    color: #0c0c0c;
    cursor: auto;
    background: none;
}

strong {
    color: #1f1c1c;
}

.price-details {
    align-items: flex-start;
    color: black;
    background: none !important;
    margin-bottom: 0;
    font-family: Oswald;
    font-weight: 500;
}

.actions-details {
    display: flex;
    margin-top: 22px;
    font-family: Poppins;
    font-weight: 500;
    background: #ded9d9;
    border-radius: 0 0 3px 3px;
    width: 400px;
}

.detail-buy-now,
.detail-add-to-cart {
    font-size: 16px;
    margin: 0 6px;
    border-radius: 1px;
    box-shadow: 3px 6px 6px #676565;
    color: white;
    font-family: Poppins;
    font-weight: 400;
}

.detail-buy-now {
    background: #023062;
}

.detail-buy-now:hover {
    background: #1869c1;
    box-shadow: 1px 3px 3px grey;
}

.detail-add-to-cart {
    background: #131111;
}

.detail-add-to-cart:hover {
    background: #535354;
    box-shadow: 1px 3px 3px grey;
}


@media screen and (max-width: 1100px) {
    .product-cards {
        max-width: calc(50% - 20px);
    }
}

@media screen and (max-width: 960px) {
    .product-cards {
        max-width: calc(100% - 20px);
    }
}


/* Media queries */
@media screen and (max-width: 768px) {
    .product-details-container {
        width: 100%;
        margin-bottom: 110px;
    }

    .product-details {
        width: 100%;
        flex-direction: column;
        margin-top: 1px;
        padding: 10px;

    }

    .block-product-details-close-button {
        top: 5px;
    }

    .details-names-all {
        display: block;
        flex-direction: column;
        margin-top: 10px;
        line-height: 12px;
    }

    .type-details,
    .brand-details,
    .name-details {
        margin-bottom: 20px;
    }

    .price-details {
        font-size: 22px;
    }

    .details {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        border: none;
    }

    .description {
        display: inline;
        width: 100%;
        font-family: Poppins !important;
        font-weight: 400 !important;
        font-size: 17px!important;

    }

    .description strong {
        font-size: 18px;
    }

    .image-gallery {
        width: 100%;
        align-items: center;
        margin-top: -10px;
    }

    .main-image {
        width: 100%;
        height: 230px;
        margin-left: -40% !important;
        /*margin-right: 222px!important;*/
        /*justify-content: flex-start;*/
        /*margin-left: -111px;*/
    }

    .main-picture-detail {
        text-align: center;
        align-items: center;

    }

    .thumbnail-gallery {
        display: flex;
        height: 40px;
        justify-content: flex-start;
        margin-top: 343px;
        z-index: 0;
    }

    .thumbnail-gallery img {
        margin-right: 15px;
        margin-top: 1px;
    }

    .thumbnail {
        margin-top: 10px;
        margin-bottom: 5px;
        margin-right: 5px;
        width: 44px;
        height: 44px;
    }

    /*.tab-content {*/
    /*    display: inline-flex!important;*/
    /*    position: relative!important;*/
    /*    width: 100% !important;*/
    /*    padding: 0;*/

    /*    background: #2bc3f1;*/
    /*}*/

    /*.description-content {*/
    /*    display: inline!important;*/
    /*    width: 100% !important;*/

    /*    background: #1b9805;*/
    /*}*/

    /*.show {*/
    /*    display: inline-flex!important;*/
    /*    width: 100%;*/
    /*    margin-top: 0;*/
    /*    padding: 0;*/

    /*}*/

    .actions-details {
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        background: none;
        flex-direction: column;
    }

    .detail-buy-now,
    .detail-add-to-cart {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
    }

    .detail-buy-now {
        background: #023062;
        color: #2b2828;
        font-family: Poppins;
        font-weight: 600;
        color: white;

    }

    .detail-add-to-cart {
        background: #39bbee;
        color: #2b2828;
        font-weight: bold;
    }

    .add-to-cart-fixed {
        position: fixed;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        z-index: 1;
        /*z-index: 1000;*/
        padding: 10px;
        background-color: #ffcc00;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
}
