/*//   RelatedAccessories.css*/


/* src/components/ProductDetails/ProductDetails.css */
.related-accessories {
    max-width: 100%; /* Выберите подходящее значение ширины */
    /*border: 1px solid #efeeee;*/
    overflow-x: auto; /* Добавьте горизонтальную прокрутку при необходимости */
    margin-top: 0;
}

.related-accessories h2 {
    display: inline-flex;
    align-items: flex-start;
    font-family: Poppins;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 11px;
    margin-bottom: 0;
}

.products-list-related-accessories {
    display: flex;
    flex-wrap: nowrap; /* Запрещаем перенос элементов на новую строку */
    overflow-x: auto; /* Добавляем горизонтальную прокрутку, если контейнер переполнен */

}



.product-card-related-accessories {
    /*position: absolute;*/
    /*position: relative;*/
    display: flex;
    /*flex-direction: row;*/
    /*max-width: 96%;*/
    margin: 10px auto;
    margin-top: 130px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center; /* Выравнивание по центру по горизонтали */
    justify-content: center; /* Выравнивание по центру по вертикали */
    border: 5px solid #efeeee;
    border-radius: 3px;
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
}



.details-related-accessories {
    margin-top: 10px; /* Поднимаем немного блок с деталями */
}

.brand-related-accessories {
    font-weight: bold;
}


.type-related-accessories,
.brand-related-accessories,
.name-related-accessories {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}


.product-card-related-accessories img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}



.slider-controls-related-accessories button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.slider-controls-related-accessories {
    display: flex;
    margin-top: 10px;
}



/*.price {*/
/*    text-align: center;*/
/*    color: #055486;*/
/*}*/



/* Обновленные стили */
.product-card-related-accessories {
    flex: 1; /* Равномерное распределение карточек */
    max-width: calc(33% - 20px); /* Уменьшение карточек не более чем на 33% */
    margin: 10px; /* Добавляем отступ между карточками */
}


/* Media queries */
@media screen and (max-width: 768px) {
    .products-list-related-accessories {
        box-sizing: content-box;

        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory; /* Для обеспечения прокрутки по горизонтали */
        /*height: 555px;*/
        margin-bottom: 22px;
    }


    .related-accessories h2 {
        margin-top: 11px;
        margin-bottom: 0;
    }

    .product-card-related-accessories {
        flex-direction: column;
        margin-top: 20px;
        /*margin-right: 10px;*/
        /*width: 200px;*/
        padding: 2px;
        text-align: center!important;
        scroll-snap-align: start; /* Для прокрутки к началу каждой карточки */
        flex: 0 0 auto;
        width: 40%; /* Или любая другая ширина, в зависимости от вашего дизайна */
        margin-right: 10px; /* Добавляем небольшой отступ между карточками */


    }

    .details-related-accessories {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        border: none;
        text-decoration: none;
        padding: 1px;
    }
    .brand-related-accessories {
        font-weight: bold;

    }

    .type-related-accessories,
    .brand-related-accessories,
    .name-related-accessories {
        font-size: 14px;
        margin-bottom: 5px;
        text-align: center;

    }

    .slider-controls-related-accessories {
        /*margin-top: 50% !important;*/
        display: none;
    }

    .products-list-related-accessories button {
        display: none;
    }

}


@media screen and (max-width: 960px) {
    .product-card-related-accessories {
        max-width: calc(100% - 20px); /* Уменьшение карточек до 100% при ширине экрана <= 960px */
    }
}


@media screen and (max-width: 1100px) {
    .product-card-related-accessories {
        max-width: calc(50% - 20px); /* Уменьшение карточек до 50% при ширине экрана <= 1100px */
    }
}



.related-accessories {
    position: relative;
}

.slider-control-one-left,
.slider-control-one-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px; /* Размер кнопки */
    height: 60px; /* Размер кнопки */
    background-color: rgba(0, 0, 0, 0.5); /* Цвет кнопки */
    color: white; /* Цвет текста */
    border: none;
    border-radius: 20%; /* Для круглой формы */
    cursor: pointer;
    z-index: 1; /* Позволяет кнопкам быть поверх карточек */
}

.slider-control-one-left {
    left: 10px; /* Расположение кнопки "Назад" */
}

.slider-control-one-right {
    right: 10px; /* Расположение кнопки "Вперёд" */
}

.products-list-related-accessories {
    position: relative; /* Необходимо для корректного позиционирования кнопок */
}

.product-card-related-accessories {
    position: relative; /* Необходимо для корректного позиционирования кнопок */
    z-index: 0; /* Позволяет карточкам быть под кнопками */
}

.slider-control-one-left.disabled,
.slider-control-one-right.disabled {
    opacity: 0.5; /* Понижаем прозрачность */
    cursor: not-allowed; /* Делаем курсор не кликабельным */
}

.slider-control-one-left.disabled:hover,
.slider-control-one-right.disabled:hover {
    background-color: rgba(0, 0, 0, 0.3); /* Изменяем цвет фона при наведении */
}


