/* src/components/ProductDetails/ProductDetails.css */

.productListRelatedSellerProducts {
    display: flex;
    overflow-x: auto;
}

.productCardsRelatedSellerProducts {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 96%;
    margin: 10px auto;
    margin-top: 130px;
    padding: 20px;
    border: 1px solid #e9e8e8;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.productCardsRelatedSellerProducts {
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
}


.sliderControlsRelatedSellerProducts button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.sliderControlsRelatedSellerProducts {
    display: flex;
}



.productCardsRelatedSellerProducts img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}


/*.price {*/
/*    text-align: center;*/
/*    color: #055486;*/
/*}*/



/* Обновленные стили */
.productCardsRelatedSellerProducts {
    flex: 1; /* Равномерное распределение карточек */
    max-width: calc(33% - 20px); /* Уменьшение карточек не более чем на 33% */
    margin: 10px; /* Добавляем отступ между карточками */
}

@media screen and (max-width: 1100px) {
    .productCardsRelatedSellerProducts {
        max-width: calc(50% - 20px); /* Уменьшение карточек до 50% при ширине экрана <= 1100px */
    }
}

@media screen and (max-width: 960px) {
    .productCardsRelatedSellerProducts {
        max-width: calc(100% - 20px); /* Уменьшение карточек до 100% при ширине экрана <= 960px */
    }
}



/* Media queries */
@media screen and (max-width: 768px) {
    .productListRelatedSellerProducts {
        display: flex;
        overflow-x: auto;
    }

    .productCardsRelatedSellerProducts {
        flex-direction: column;
        margin-top: 20px;
        /*margin-right: 10px;*/
        width: 111px;
        padding: 2px;
        text-align: center;
    }

    .detailsRelatedSellerProducts {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        border: none;
        text-decoration: none;
        padding: 1px;
    }
    .brandRelatedSellerProducts {
        font-weight: bold;

    }

    .typeRelatedSellerProducts,
    .brandRelatedSellerProducts,
    .nameRelatedSellerProducts {
        font-size: 14px;
        margin-bottom: 5px;
       text-align: center;

    }

    .sliderControlsRelatedSellerProducts {
        display: none;
    }


}



