/* OrderList.css */


* {
    box-sizing: border-box;
}


.order {
    margin-top: 80px;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 0;
}

.sellers-list-close {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 95%;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead th, tbody td {
    border: 1px solid #ddd;
    padding: 3px;
    text-align: left;
    font-size: 12px;
}

.orderDetailOneClient {
    cursor: pointer;
}

thead th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody td p {
    margin: 5px 0;
}

.sales-history-pagination {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


.sales-history-pagination span {
    margin: 0 20px;
}

.sales-history-pagination-prev {
    width: 111px;
}

.sales-history-pagination-next {
    width: 111px;
}

/* Add more styles as needed */

@media only screen and (max-width: 768px) {

    .order {
        margin-top: 260px;
        padding: 2px 10px;
    }

}