
.header-container {
    width: 100%;
    position: fixed;
    height: 120px;
    background-color: #fff;
    z-index: 111;
}

.header {
    display: flex;
    /*position: fixed;*/
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
    background-color: #fff;
    /*position: fixed;*/
    max-width: 1340px;
    /*width: 100%;*/
    z-index: 111;
    height: 120px;
    margin: 0 auto!important;

}

.titleH {
    font-family: Poppins;
    font-weight: 600;
    color: #00020c;
    font-size: 60px;
    padding-top: 0;
    padding-bottom: 0;
}

.titleN {
    color: #f66f07;
    font-family: Poppins;
    font-weight: 600;
}

.header-left {
    display: flex;
    align-items: center;
    padding: 0;
}

.title {
    cursor: pointer;
    /*font-size: 24px;*/
    font-weight: bold;
    margin-right: 20px;
    padding: 0;

    font-family: Poppins;

}

.nav-links {
    display: flex;
    align-items: center;
    margin-left: 32px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
}

/*.dropdown-menu {*/
/*    border: 1px solid #d7d5d5;*/
/*    border-radius: 3px;*/
/*    padding: 0;*/
/*    margin-right: 40px;*/

/*}*/


.dropdown-menu {
    display: none; /* Скрыто по умолчанию */
    position: absolute;
    top: 100%; /* Размещает меню ниже кнопки */
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 1000; /* Обеспечивает, что меню отображается поверх других элементов */
}

.dropdown-menu.show {
    display: block; /* Показывает меню при активации */
}








.dropdown-menu-close {
    position: absolute;
    margin-top: -3%;
    cursor: pointer;
}

.dropdown-menu button {
    background: none;
    width: 80%;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;

}

.dropdown-menu-partner {
    border-top-color: black;
}

.active-title {
    border: 1px solid #bcbaba;
    border-bottom-color: #2bc3f1;
    /*border-bottom-color: #0355a7;*/
    border-top: none !important;
    border-right: none!important;
    border-left: none!important;
    color: #2bc3f1!important;
    /*color: #0355a7!important;*/
}


.mobile-buttons {
    display: none;
}


.nav-link {
    margin-right: 15px;
    font-size: 18px;
    text-decoration: none;
    color: #4f4e4e;
    /*background: rgba(113, 113, 113, 1);*/

}

.header-right {
    display: flex;
    align-items: center;
}

.auth-buttons, .search {
    margin-left: 15px;
    color: #4f4e4e;
    align-items: center;
    font-family: Poppins;
    font-weight: 500;

}
.search {
    margin-top: 11px!important;
}

.profileIcon-text {
    cursor: pointer;
    color: #4f4e4e;
    font-family: Poppins;
    font-weight: 500;

}

.totalItems {
    /*font-size: 18px;*/
    cursor: pointer;
    color: #4f4e4e;
    font-family: Poppins;
    font-weight: 500;
    margin-left: 15px;
    font-size: 16px;
}

.search {
    margin-right: 7px;
}

.search input {
    padding: 5px 10px;
    font-size: 18px;
    /*margin-right: 70px;*/
}



.desktop-contact-info .contact-info{
    display: inline-flex;
    /*background: #a49f9f;*/
    align-items: center;
    text-align: center;
    justify-content: center;
}

.social-icons {
    margin-left: 32px;
    margin-right: 12px;
}

.icon {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Добавим анимацию при наведении */
}
.ins {
    width: 35px;
    height: 35px;
}


.social-icons img:hover {
    transform: scale(1.2); /* Увеличим размер иконки при наведении */
}


.header-menu-icon {
    display: none;
}


.header .profileIcon {
    position: relative;
}

.header .profileIcon .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
    width: 190px;
}

.header .profileIcon .dropdown-menu button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}

.dropdown-menu button {
    width: 80% !important;
}

.header .profileIcon .dropdown-menu button:hover {
    background-color: #f1f1f1;
}

.header .profileIcon-text {
    cursor: pointer;
}


.dropdown-menu-close {
    margin-left: 75%;
}

.header .cartIcon {
    position: relative;
    display: inline-block;
}

.total-items-title {
    color: #4f4e4e;
    align-items: center;
    font-family: Poppins;
    margin-left: 22px;
}

 .cartIcon .totalItems {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: red!important;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: bold;
}


.header .cartIcon span {
    margin-left: 10px;
}

.btn {
    margin-right: 22px;
    margin-left: 15px;

}


.dropdown-menu {
    display: block;
}

/* Убираем рамку при фокусе на кнопке корзины */
.auth-button.btn:focus,
.auth-button.btn:active {
    outline: none!important;
}

/* Добавьте этот стиль, если его нет */
.active-title {
    border: 1px solid #bcbaba;
    border-bottom-color: #2bc3f1;
    /*border-bottom-color: #0355a7;*/
    border-top: none !important;
    border-right: none!important;
    border-left: none!important;
    color: #2bc3f1!important;
    /*color: #0355a7!important;*/
    border-radius: 0;
    text-align: center;
    width: 100px;

}

.active-title {
    border-bottom: 2px solid #2bc3f1;
    /*border-bottom: 2px solid #0355a7;*/
    padding: 0!important;
    color: #2bc3f1 !important;
    /*color: #0355a7 !important;*/
    width: auto!important;
}


.active-title .total-items-title {
    border-bottom: 2px solid #0355a7;
    padding: 0!important;
    color: #0355a7 !important;
    margin-left: 0!important;
}


.favorites-count {
    background: #efe6e6 !important;
    border-radius: 50%;
    padding: 1px 2px;
    color: black;
}

.form-search {
    display: inline-flex;

}

.search-input {
    border-radius: 3px 0 0 3px;
    border-right: none;
}

.search-cross {
    width: auto;
    border-radius: 0 3px 3px 0;
    height: 39px;
    background: none;
    color: black;
    font-weight: 400;
    border: 1px solid #cdcdcd;
    border-left: none;
    padding: 0 6px;
}

.search-cross:hover {
    background: #007bff;
}

.search-cross img {
    width: auto;
    height: 25px;
    background: none;
    color: black;
    font-weight: 400;
    /*margin-bottom: 15px!important;*/
}

.search-button {
    width: auto;
    border-radius: 5px;
    height: 39px;
    background: none;
    color: black;
    font-weight: 400;
    border: none;
    /*border-left: none;*/
    padding: 1px 9px;
    margin-left: 10px;
    background: #2bc3f1;
    /*background: #0040ff;*/
}
.search-button-img {
    width: 22px;
    height: 22px;

    background: none;
    /*color: black;*/
    font-weight: 400;
}



.favorites-header {
    display: inline-flex; /* Выравниваем элементы в одну строку */
    align-items: center;  /* Центрируем элементы по вертикали */
}

.favorites-count {
    margin-left: 3px;    /* Отступ между сердечком и счётчиком */
    width: 25px;         /* Фиксированная ширина для счётчика */
    text-align: center;  /* Выравнивание текста по центру */
    visibility: visible; /* Видимый по умолчанию */
}

.favorites-count.hidden {
    visibility: hidden;  /* Скрывает текст, но сохраняет место */
}

.fa-red-header {
    width: 23px;
    height: 23px;
}




/* Адаптивность */
@media (max-width: 768px) {
    .header-container {
        height: auto;
        padding-bottom: 0!important;
        position: relative;

    }
    .header {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        z-index: 111111;
        position: relative;
        /*margin-bottom: 0;*/
        padding: 11px!important;
        padding-bottom: 0!important;
    }

    .titleH {
        align-items: center;
        font-size: 40px;
    }

    .total-items-title {
        display: none;
    }

    .title {
        display: flex;
        font-size: 18px !important;
        width: 34%;
    }

    .header-menu-icon {
        display: inline-flex;
        width: 30px;
        height: auto;
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 7px;
        margin-right: 8px;
    }



    .header-left, .header-right {
        width: 100%;
        display: flex;
        justify-content: space-between!important;
        font-size: 15px;
        margin-top: 0!important;
    }



    .header-right {
        margin-top: 10px;

    }
    .search {
        display: inline-flex;
        position: absolute;
        margin-top: -80px!important;
        margin-left: 49%;
    }

    .nav-links {
        /*flex-direction: column;*/
        display: none;
    }

    /*.nav-link {*/
    /*    margin-bottom: 10px;*/
    /*}*/

    .auth-buttons, .totalItems {
        /*margin-left: 0;*/
        /*margin-top: 10px;*/
        display: none;
    }



    .mobile-buttons {
        display: none;
        /*display: inline-flex;*/
        /*background: #08a7e7;*/
        /*width: 100%;*/
        /*font-size: 18px;*/
        /*font-weight: bold;*/
        /*font-family: Poppins;*/
        /*font-weight: 600;*/


    }

    /*.phone {*/
    /*    font-size: 17px;*/
    /*}*/

    /*.btn1 {*/
    /*    text-align: center;*/
    /*    border: 1px solid #aac3f8;*/
    /*    width: 50%;*/
    /*    padding: 3px 0;*/
    /*    background: #023062 !important;*/
    /*    color: white!important;*/
    /*}*/



    /*.btn2 {*/
    /*    text-align: center;*/
    /*    border: 1px solid #aac3f8;*/
    /*    width: 50%;*/
    /*    padding: 3px 0;*/
    /*    background: #131111 !important;*/
    /*}*/


    .social-icons img {
        margin-top: 5px;
        width: 22px;
        height: 22px;


    }

    .contact-info {
        display: none !important;
    }

    .workingTime {
        display: none;
    }













    .search-cross {
        width: auto;
        border-radius: 0;
        height: 39px;
        background: none;
        color: black;
        font-weight: 400;
        border: 1px solid #cdcdcd;
        border-left: none;
        padding: 0 6px;
    }

    .search-cross:hover {
        background: #007bff;
    }

    .search-cross img {
        width: auto;
        height: 25px;
        background: none;
        color: black;
        font-weight: 400;
        /*margin-bottom: 15px!important;*/
    }

    .search-button {
        width: auto;
        border-radius: 0 3px 3px 0;
        height: 39px;
        background: none;
        /*color: black!important;*/
        font-weight: 400;
        border: none;
        /*border-left: none;*/
        padding: 1px 9px;
        margin-left: 0;
        background: #0b9dca;
        /*background: #0040ff;*/
    }
    .search-button-img {
        width: 22px;
        height: 22px;

        background: none;
        /*color: black;*/
        font-weight: 400;
    }




}
