
/*display: flex;*/
/*position: fixed;*/
/*top: 0;*/
/*width: 100%;*/
/*height: 100px;*/
/*justify-content: space-between;*/
/*align-items: center;*/
/*padding: 1px 30px;*/
/*z-index: 1000;*/
/*!*background-color: #d62f2f;*!*/
/*!*background-image: url("./header8.jpg");*!*/
/*background: rgba(255, 255, 255, 1);*/

/*background-size: cover;*/
/*!*background-position: center;*!*/
/*border-bottom: 2px solid rgba(246, 246, 246, 1);*/
/*box-shadow: 0 4px 5px rgba(0, 0, 0, 0.7); !* Добавим небольшую тень для выделения шапки *!*/
/*}*/

/* Component 14 */




.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
    background-color: #fff;
    /*border-bottom: 1px solid #db0f0f;*/
    /*box-shadow: 3px 3px 5px #dddddd;*/
    position: fixed;
    width: 100%;
    z-index: 111;
    height: 120px;

    font-family: Poppins;
    font-weight: 600;

}

.titleN {
    color: #e06507;
}

.header-left {
    display: flex;
    align-items: center;
    padding: 0;
}

.title {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    padding: 0;

    font-family: Poppins;

}

.nav-links {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.dropdown-menu {
    border: 1px solid #4c4b4b;
    padding: 5px;


}

.dropdown-menu button {
    background: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;

}

.dropdown-menu-partner {
    border-top-color: black;
}

.active-title {
    border: 1px solid #bcbaba;
    border-bottom-color: #585656;
    border-top: none !important;
    border-right: none!important;
    border-left: none!important;

}


.mobile-buttons {
    display: none;
}


.nav-link {
    margin-right: 15px;
    font-size: 18px;
    text-decoration: none;
    color: #4f4e4e;
    /*background: rgba(113, 113, 113, 1);*/

}

.header-right {
    display: flex;
    align-items: center;
}

.auth-buttons, .search, .totalItems {
    margin-left: 15px;
    color: #4f4e4e;
    align-items: center;

}
.search {
    margin-top: 11px!important;
}

.profileIcon-text {
    cursor: pointer;
    color: #4f4e4e;

}

.totalItems {
    font-size: 18px;
    cursor: pointer;
    color: #4f4e4e;

}

.search {
    margin-right: 7px;
}

.search input {
    padding: 5px 10px;
    font-size: 16px;
    /*margin-right: 70px;*/
}



.desktop-contact-info .contact-info{
    display: inline-flex;
    /*background: #a49f9f;*/
}

.social-icons {
    margin-left: 32px;
    margin-right: 12px;
}

.icon {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Добавим анимацию при наведении */
}
.ins {
    width: 35px;
    height: 35px;
}


.social-icons img:hover {
    transform: scale(1.2); /* Увеличим размер иконки при наведении */
}



.sellerRegistration {
    margin-top: 170px;
}




/* Адаптивность */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-left, .header-right {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .header-right {
        margin-top: 10px;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-link {
        margin-bottom: 10px;
    }

    .auth-buttons, .search, .totalItems {
        margin-left: 0;
        margin-top: 10px;
    }



    .mobile-buttons {
        display: inline-flex;
        background: #08a7e7;
        width: 100%;
        font-size: 18px;
        font-weight: bold;


    }

    .phone {
        font-size: 17px;
    }

    .btn1 {
        text-align: center;
        border: 1px solid #aac3f8;
        width: 50%;
        padding: 3px 0;
    }



    .btn2 {
        text-align: center;
        border: 1px solid #aac3f8;
        width: 50%;
        padding: 3px 0;

    }


    .social-icons img {
        margin-top: 5px;
        width: 22px;
        height: 22px;


    }

}
