
.seller-registration {
   padding: 33px 130px;
}
.seller-registration-title {
    margin: 90px;
}

.seller-registration-close {
    color: #06313e !important;
    margin-left: 95%;
    margin-bottom: 17px;
    cursor: pointer;
    width: 45px;
    height: 33px;
    text-align: center;
    /*background: #2bc3f1;*/
    font-size: 22px;
}

.seller-form-button {
    /*margin-top: 11px;*/
    font-size: 17px;
    font-family: Poppins;
    font-weight: 500;
    width: auto;
    text-align: center;
    /*margin-left: 20%;*/
    border-radius: 3px;
    background: #023058;
    justify-content: center;
    margin-left: 42%;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .seller-registration {
        padding: 25px;
        padding-top: 0;
    }



    .seller-add-form {
        margin: 0 auto;
    }


    .seller-registration-title {
        margin: 0;
    }

    .seller-form-button {
        margin-top: 20px;
        margin-bottom: 93px;
    }


}