.product-tabs {
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    margin-top: 10px;
    width: 60%;
    justify-content: start;
}

.tab-header {
    display: flex;
    /*justify-content: space-between;*/
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.tab-item {
    cursor: pointer;
    padding: 5px 10px;
    color: #333;
    font-family: Oswald;
    font-weight: 600;
}

.tab-item:hover {
    color: #555;
}

.tab-item.active {
    color: #0160c8;
    /*border-bottom: 2px solid #007bff;*/
    border-bottom-color: #1f1c1c;
    border-right: none;
    border-left: none;
    border-top: none;
}

.tab-content {
    padding: 20px;
}

.description-content,
.characteristics-content,
.reviews-content {
    display: none;
}

.description-content.show,
.characteristics-content.show,
.reviews-content.show {
    display: block;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    z-index: 0;
}

.characteristics-title {
    font-family: 'Oswald';
}

.character {
    font-family: Poppins;
    font-weight: 400;
}

.characteristics-title-name {
    font-family: Oswald;
    font-weight: 500;
}


@media screen and (max-width: 768px) {

    .product-tabs {
        width: 100%;
    }
    .tab-content {
        display: flex;
        width: 100%;
        padding: 5px 20px;
    }

    .description-content.show {
        width: 100% !important;
        margin-top: 0;

        font-family: Poppins;
        font-weight: 400;
    }

    /*.characteristics-content.show*/
    .show {
        width: 100% !important;
        margin-top: 0;
        font-family: Poppins;
        font-weight: 500;
    }


}