
.new-product {
    display: inline-grid;
    width: 100% !important;
    margin-left: 0;
    justify-content: space-between;
    margin-top: 10px !important;
    padding: 0 20px;

    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

/*.new-cards {*/
/*    top: 10px!important;*/
/*}*/