
.new-product {
    display: inline-grid;
    width: 100% !important;
    margin-left: 0;
    justify-content: space-between;
    margin-top: 10px !important;
    padding: 0 20px;

    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.product-card-images {
    align-items: center;
    padding: 0;

}

.details-new-product {
    margin-top: 10px;
    padding: 0 5px;
}


.brand-and-name-new {
    /*display: inline-block;*/
    display: flex;
    width: 100%;
    line-height: 11px;
    /*justify-content: start!important;*/
    justify-content: space-between;

padding: 0 5px;
}

.new-brand {
    width: auto;
}

.discounted-price-new {
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {

    .new-product {
        display: inline-grid;
        width: 100% !important;
        margin-left: 0;
        justify-content: space-between;
        margin-top: 12px !important;
        padding: 0;

        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 20px;
    }
    .newest-products-title {
        margin-top: 11px;
    }




}