.newest-products {
    width: 100%;
}
.new-product {
    display: inline-grid;
    width: 100% !important;
    margin-left: 0;
    justify-content: space-between;
    margin-top: 10px !important;
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.product-card-images {
    align-items: center;
    padding: 0;

}

.details-new-product {
    margin-top: 10px;
    /*padding: 0 5px;*/
}


.brand-and-name-new {
    display: flex;
    width: 100%;
    line-height: 11px;
    justify-content: space-between;

    padding: 0 5px;
}

.new-brand {
    width: auto;
}

.discounted-price-new {
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}

.brand-and-name-new {
    padding: 0 10px;
}

.discounted-price-new {
    padding: 0 10px;
}


@media (max-width: 768px) {
    .newest-products {
        overflow: hidden; /* Запрещает выход контента за границы */
        display: flex;
        justify-content: center;
        align-items: center; /* Центрирует элементы по вертикали */
        padding: 0 10px; /* Добавляет немного отступов */
        margin-bottom: 76px;
    }

    .new-product-cards {
        display: grid;
        gap: 5px!important; /* Уменьшает расстояние между строками и колонками */        width: 100%;
        justify-content: center;
    }

    .product-card.new-cards {
        width: 100%;
        max-width: 88%;
        margin: auto;
    }

    .product-card-images img {
        width: 100%;
        height: auto;
        object-fit: contain; /* Гарантирует полное отображение изображений */
    }
}






